body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  width: 70vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
}
