body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}
.boardDiv {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dead {
  margin: 1px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.alive {
  background-color: black;
  margin: 1px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}
.button-area {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}
button {
  border-radius: 30px;
  background-color: white;
  border-style: none;
  width: 50px;
  height: 50px;
  margin-bottom: 20vh;
}
button:hover {
  background-color: black;
  color: white;
}
i {
  font-size: xx-large;
}
