body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
.boardDiv {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 350px;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cellDiv {
  margin: 1px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.cellDiv:hover {
  background-color: black;
}
.alive {
  background-color: black;
}
